/****** Object:  Database [infoTech]    Script Date: 01.03.2026 14:14:30 ******/
CREATE DATABASE [infoTech]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'infoTech', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\infoTech.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'infoTech_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\infoTech_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [infoTech].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 01.03.2026 14:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[clientID] [int] NOT NULL,
	[fio] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 01.03.2026 14:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[commentID] [int] NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[masterID] [int] NOT NULL,
	[requestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[commentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceTypes]    Script Date: 01.03.2026 14:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTypes](
	[typeID] [int] NOT NULL,
	[typeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[typeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Masters]    Script Date: 01.03.2026 14:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Masters](
	[masterID] [int] NOT NULL,
	[fio] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[position] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[masterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 01.03.2026 14:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[requestID] [int] NOT NULL,
	[startDate] [date] NOT NULL,
	[deviceTypeID] [int] NOT NULL,
	[deviceModel] [nvarchar](100) NOT NULL,
	[problemDescription] [nvarchar](500) NOT NULL,
	[statusID] [int] NOT NULL,
	[completionDate] [date] NULL,
	[repairParts] [nvarchar](500) NULL,
	[masterID] [int] NULL,
	[clientID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatuses]    Script Date: 01.03.2026 14:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatuses](
	[statusID] [int] NOT NULL,
	[statusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clients] ([clientID], [fio], [phone], [login], [password]) VALUES (6, N'Белов Роман Добрынич', N'89219567849', N'login6', N'pass6')
INSERT [dbo].[Clients] ([clientID], [fio], [phone], [login], [password]) VALUES (7, N'Кузин Михаил Родионович', N'89219567841', N'login7', N'pass7')
INSERT [dbo].[Clients] ([clientID], [fio], [phone], [login], [password]) VALUES (8, N'Ковалева Софья Владимировна', N'89219567842', N'login8', N'pass8')
GO
INSERT [dbo].[Comments] ([commentID], [message], [masterID], [requestID]) VALUES (1, N'Всё сделаем!', 2, 1)
INSERT [dbo].[Comments] ([commentID], [message], [masterID], [requestID]) VALUES (2, N'Не переживаейте, починим.', 3, 2)
INSERT [dbo].[Comments] ([commentID], [message], [masterID], [requestID]) VALUES (3, N'Не переживаейте, починим.', 3, 3)
GO
INSERT [dbo].[DeviceTypes] ([typeID], [typeName]) VALUES (1, N'Компьютер')
INSERT [dbo].[DeviceTypes] ([typeID], [typeName]) VALUES (2, N'Ноутбук')
INSERT [dbo].[DeviceTypes] ([typeID], [typeName]) VALUES (3, N'Мышка')
GO
INSERT [dbo].[Masters] ([masterID], [fio], [phone], [login], [password], [position]) VALUES (1, N'Минаева Алиса Тимофеевна', N'89210563128', N'login1', N'pass1', N'Менеджер')
INSERT [dbo].[Masters] ([masterID], [fio], [phone], [login], [password], [position]) VALUES (2, N'Воробьев Фёдор Алексеевич', N'89535078985', N'login2', N'pass2', N'Техник')
INSERT [dbo].[Masters] ([masterID], [fio], [phone], [login], [password], [position]) VALUES (3, N'Захарова Алёна Андреевна', N'89210673849', N'login3', N'pass3', N'Техник')
GO
INSERT [dbo].[Requests] ([requestID], [startDate], [deviceTypeID], [deviceModel], [problemDescription], [statusID], [completionDate], [repairParts], [masterID], [clientID]) VALUES (1, CAST(N'2023-06-06' AS Date), 1, N'RDOR GAMING RAGE H290', N'Выключается после 10 минут работы', 2, CAST(N'2023-06-10' AS Date), N'Замена блока питания', 2, 7)
INSERT [dbo].[Requests] ([requestID], [startDate], [deviceTypeID], [deviceModel], [problemDescription], [statusID], [completionDate], [repairParts], [masterID], [clientID]) VALUES (2, CAST(N'2023-05-05' AS Date), 2, N'ASUS VivoBook Pro 15 M6500QH-HN034 синий', N'Сильно шумит и греется', 2, CAST(N'2023-05-10' AS Date), N'Чистка кулера', 3, 8)
INSERT [dbo].[Requests] ([requestID], [startDate], [deviceTypeID], [deviceModel], [problemDescription], [statusID], [completionDate], [repairParts], [masterID], [clientID]) VALUES (3, CAST(N'2022-07-07' AS Date), 3, N'ARDOR GAMING Phantom PRO', N'Перестало работать колёсико', 3, CAST(N'2023-01-01' AS Date), N'Замена колесика', 3, 9)
GO
INSERT [dbo].[RequestStatuses] ([statusID], [statusName]) VALUES (1, N'Новая заявка')
INSERT [dbo].[RequestStatuses] ([statusID], [statusName]) VALUES (2, N'В процессе ремонта')
INSERT [dbo].[RequestStatuses] ([statusID], [statusName]) VALUES (3, N'Готова к выдаче')
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([masterID])
REFERENCES [dbo].[Masters] ([masterID])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([requestID])
REFERENCES [dbo].[Requests] ([requestID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([clientID])
REFERENCES [dbo].[Clients] ([clientID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([deviceTypeID])
REFERENCES [dbo].[DeviceTypes] ([typeID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([masterID])
REFERENCES [dbo].[Masters] ([masterID])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([statusID])
REFERENCES [dbo].[RequestStatuses] ([statusID])
GO
/****** Object:  StoredProcedure [dbo].[FindRequestByNumber]    Script Date: 01.03.2026 14:14:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindRequestByNumber]
    @RequestNumber INT
AS
BEGIN
    SELECT 
        r.requestID AS 'Номер заявки',
        r.startDate AS 'Дата добавления',
        dt.typeName AS 'Тип устройства',
        r.deviceModel AS 'Модель',
        r.problemDescription AS 'Описание проблемы',
        rs.statusName AS 'Статус',
        r.completionDate AS 'Дата завершения',
        r.repairParts AS 'Запчасти',
        c.fio AS 'Заказчик',
        c.phone AS 'Телефон заказчика',
        m.fio AS 'Мастер',
        m.position AS 'Должность мастера'
    FROM Requests r
    LEFT JOIN DeviceTypes dt ON r.deviceTypeID = dt.typeID
    LEFT JOIN RequestStatuses rs ON r.statusID = rs.statusID
    LEFT JOIN Clients c ON r.clientID = c.clientID
    LEFT JOIN Masters m ON r.masterID = m.masterID
    WHERE r.requestID = @RequestNumber;
END
GO
